
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
:root {
    --body-padding: .8rem;
    --gap: .6rem;
    --border-radius: .6rem;
    --border: 1px solid black;
    --accent-color: rgba(34, 112, 224, 1);
    --margin-top: 5%;
    --content__margin-top: 10%;
    --font-size-s: 1.25rem;
    --font-weight-l: lighter;
    --font-size-logo: 1.79rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: black;
    color: white
}

.flex__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap)
}


button, li, a {
    all: unset;
    color: black;
    text-align: none;
    list-style-type: none;
    border: 1px solid grey;
}

button {
    text-align: center;
    padding: var(--body-padding);
    border: 1px soli grey;
    border-radius: .8rem;
    /* background-color: rgb(85, 135, 85); */
}

a {
    font-size: 1.25rem;
    padding-right: .8rem;
    padding-left: .8rem;
    
}

.cta-btn {
    background-color: black;
    color: white;
    padding-left: 2rem;
    padding-right: 2rem;
    font-weight: 700;
    font-size: 1.24rem;
}

.secondary-btn {
    background-color: white;
    border: 1px solid black;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: .8rem;
    align-items: center;
}

.healthadvice {
    font-weight: bold;
    font-size: var(--font-size-logo);
    position: relative;
    padding-left: .8rem;
}

.healthadvice::before {
    content: ' ';
    position: absolute;
    background-color: grey;
    border-radius: var(--border-radius);
    width: 50%;
    height: 100%;
    z-index: -1;
}

main {
    margin-top: var(--content__margin-top)
}


.two__column-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* flex-wrap: nowrap; */
}



.hero .column__23{
    width: 50%;
    display: flex;
    justify-content: center;
}

.column__23 img {
    width: 500px;
    height: auto;
    max-width: 100%;
}




main {
    margin: o auto;
    border: var(--border);
    padding: 1rem;
}

.search {
    margin: 0 auto;
    
}

input {
    all: unset;
    padding: var(--body-padding);
    border: 1px solid grey;
    border-radius: var(--border-radius)
}


section input {
    width: 50%;
    padding: 2rem;
}



section .search-btn {
    color: white;
    font-size: 1.28rem;
    border: 1px solid white;
    padding: 1.6rem;
    padding-left: 2.8rem;
    padding-right: 2.8rem;


}

.status-section {
    margin-top: 1%;
    display: grid;
    grid-template-columns: repeat(2, fit-content(100%));
    grid-template-rows: repeat(3, fit-content(100%));
    gap: 2rem;
    justify-items: center;
    width: fit-content;
    /* margin-right: 0 auto; */
}

.temp {
    grid-column-start: 1;
    grid-row-start: 1;
}



.status {
    font-size: 1.89rem;
    font-weight: 600;
}

.location, .state {
    font-size: 2.28rem;
    font-weight: 200;
}


.location-container {
    align-items: center;
    justify-content: space-between;
}


.temp {
    font-size: 28rem;
    font-weight: 200;
    position: relative;
    width: fit-content; 
    transition: font-size ease 0.5s;
    color: rgb(28, 153, 211);

}

.temp::after {
    content: 'ºC';
    font-size: 5rem !important;
    top: 0%;
    position: absolute;
    /* transition: all ease 0.5s */

}

.weather {
    font-size: 2rem;
    font-weight: 300;
    width: fit-content;
    color: rgb(255, 255, 255);
    transition: all ease 0.5s
}

.wind {
    font-size: 1.88rem;
    color: white;
    width: fit-content;
    transition: all ease 0.5s

}


.smoothAnim {
    transition: 0.8s
}

.weather {
    grid-column-start: 2;
    grid-row-start: 3
}
.wind {
    grid-column-start: 2;
    grid-row-start: 2
}




.location-container {
    display: flex;
    flex-direction: column ;
    /* border: 1px solid rebeccapurple; */
    justify-content: center;
    gap: .8rem;
    align-items: flex-start;
}


.location,.state {
    font-weight: bold;
    text-transform: uppercase;
    color:rgb(255, 255, 255);

}


.report {
    font-size: 1.88rem;
    color: rgb(255, 255, 255);

}

.animated-text {
    transition: opacity 0.3s ease-in-out;
  }