<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health advice</title>
    <link rel="stylesheet" href="../public/css/styles.css">
    <!-- <script defer  src="../public/js/index.js"></script> -->
    <script defer type="module"  src="../public/js/client.js"></script>
</head>
<body>


    <main>
        <section class="search">
            <input type="text" name="location-search" class="location-search"
            placeholder="London"
            >
            <button class="search-btn" type="button">Search </button>
        </section>


        <section class="status-section">
            
            <div class="location-container">
                <p class="location"></p>
                <span class="state"></span>

                <p class='report'> <span class="weather"></span></p>
                <p class="wind"></p>
    
            </div>

            <p class="temp">0</p>
        </section>
    </main>



</body>
</html>