<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health advice</title>
    <link rel="stylesheet" href="../public/css/styles.css">
    <script defer type="module" src="../public/js/index.js"></script>
</head>
<body>


    <p>Location:---o <span class="location">Loading</span></p> 

    <span>State: ---o<span class="region">Loading</span></span>

    <p>In celcius, its ---o <span class="celcius">Loading</span></p>

    <h3>Farenheit: <span class="f-degrees"></span></h3>
    
    <p>Visibility: <span class="visibility">Loading</span></p>
    <p class="windspeed"></p>

    <p> Hmm...but it kinda feels like  -----o<span class="feels-like">Loading</span> o------today</p>

    <p >Humidity ---o <span class="humidity">Loading</span></p>

    <p>Current Weather -----o <span class="current-weather">Loading</span></p>




   <p class="advice">advice: </p> 

</body>
</html>